---
// Components
import { Image } from "@astrojs/image/components";
import AgeCalculator from "../../NanoComponents/AgeCalculator";
// svg
import briefcase from "../../../assets/svg/briefcase.svg";
import calendarEvent from "../../../assets/svg/calendar-event.svg";
import car from "../../../assets/svg/car.svg";
import mapPin from "../../../assets/svg/map-pin.svg";
// Profile picture
import profilePic from "../../../assets/images/torvald.webp";
---

<div>
  <figure class="bg-slate-100 rounded-xl p-0 pt-6">
    <Image
      class="w-40 h-40 rounded-full my-auto ml-6"
      src={profilePic}
      alt="Photo de Quentin LAURENT"
      height={512}
      aspectRatio={1 / 1}
      format="webp"
    />
    <div class="p-8 text-left space-y-4">
      <div class="space-y-4">
        <h1 class="font-semibold text-2xl">Quentin LAURENT</h1>
        <p>
          Depuis mon premier ordinateur à mes 14 ans, je me suis passionné pour
          le développement et plus particulièrement du côté web. J'ai assimilé
          au cours de ses années différents langages comme PHP avec Symfony ou
          Laravel et JavaScript avec React. J'apprécie beaucoup l’environnement
          Linux et les logiciels libres pour le développement avec par exemple
          Visual Studio Code, IntelliJ IDEA Community et Docker. Je suis
          quelqu'un de dévoué, curieux et passionné, ce qui me donne toujours
          l'envie de continuer d'apprendre et d'expérimenter de nouvelles
          technologies ou langages, y compris de manière personnelle.
        </p>
      </div>
      <div class="space-y-2">
        <div class="flex gap-x-4 items-start align-top">
          <img src={briefcase.src} class="w-6" />
          <span
            >Développeur backend chez <a
              href="https://kyxar.fr"
              target="_blank"
              class="underline text-blue-600 hover:text-blue-400">Kyxar</a
            >
          </span>
        </div>
        <div class="flex gap-x-4">
          <img src={mapPin.src} class="w-6" />
          <span>Valence, France</span>
        </div>
        <div class="flex gap-x-4">
          <img src={car.src} class="w-6" />
          <span>Permis B - véhiculé</span>
        </div>
        <div class="flex gap-x-4">
          <img src={calendarEvent.src} class="w-6" />
          <span>23 décembre 1997 (<AgeCalculator />)</span>
        </div>
      </div>
    </div>
  </figure>
</div>
