---
import github from "../../assets/svg/github.svg";
import gitlab from "../../assets/svg/gitlab.svg";
import linkedin from "../../assets/svg/linkedin.svg";
import mail from "../../assets/svg/mail.svg";
import phone from "../../assets/svg/phone.svg";
---

<div>
  <figure class="bg-slate-100 rounded-xl p-0">
    <div class="p-8 text-left space-y-4">
      <h1 class="font-semibold text-2xl">Contacts</h1>
      <div class="space-y-2">
        <div class="flex gap-x-4 items-start align-top">
          <img src={mail} class="w-6" />
          <span>
            <a href="mailto:ql2697@gmail.com">ql2697@gmail.com</a>
          </span>
        </div>
        <div class="flex gap-x-4">
          <img src={phone} class="w-6" />
          <span>(+33) 06.13.25.90.18</span>
        </div>
        <div class="flex gap-x-4">
          <img src={linkedin} class="w-6" />
          <span>
            <a
              href="https://www.linkedin.com/in/quentinlaurent26/"
              target="_blank">LinkedIn</a
            >
          </span>
        </div>
        <div class="flex gap-x-4">
          <img src={github} class="w-6" />
          <span>
            <a href="https://github.com/Torvaldi" target="_blank">@Torvaldi</a>
          </span>
        </div>
        <div class="flex gap-x-4">
          <img src={gitlab} class="w-6" />
          <span>
            <a href="https://gitlab.com/Torvald" target="_blank">@Torvald</a>
          </span>
        </div>
      </div>
    </div>
  </figure>
</div>
